<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oe.mapper.CenterMapper">
	<insert id="QnAInstert">
		insert into CENTER (ce_num,ce_id,ce_nickname,ce_email,ce_title,ce_content,ce_category,ce_status,
			ce_filename,ce_filepath,ce_filesize)
		values((select nvl(max(ce_num), 0)+1 from CENTER),#{ce_id},#{ce_nickname},#{ce_email},#{ce_title},#{ce_content},#{ce_category},#{ce_status},
			#{ce_filename, jdbcType=VARCHAR},#{ce_filepath, jdbcType=VARCHAR},#{ce_filesize, jdbcType=VARCHAR})
	</insert>
	<select id="getQnAList" resultType="com.oe.domain.CenterVO">
		select * from center where ce_id = #{us_id} order by ce_num desc
	</select>
</mapper>