@charset "UTF-8";

<style>
	<style>
		
		* {margin:0; box-sizing: border-box;}
     	ul,ol,li {list-style:none; margin:0; padding:0;}
		
		header{ background-color:blue; text-align:center; color:white; height:100px;line-height:100px;  }
		nav{background-color:royalblue; height: 50px; }
		ul li{float:left; text-decoration:none; list-style:none; margin:15px; padding:0;}
		ul li a{text-decoration:none; color:white; }
		.search{margin:10px 10px; float:right;}
		
		section{background-color:gainsboro; height:500px;}
		
		footer{background-color:royalblue; text-align: center; color: white; height:50px; line-height:50px;  }
		
	</style>
</style>