<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oe.mapper.ChatRoomMapper">
	<insert id="insert">
		insert into chatRoom(cr_roomNumber, cr_roomName, cr_seller, cr_buyer)
		values(
			(select nvl(max(cr_roomNumber), 0)+1 from chatRoom), #{cr_seller},#{cr_seller},#{cr_buyer}
		)
	</insert>

	<select id="Chk_Room" resultType="string">
		select cr_roomName from chatRoom where cr_seller = #{cr_seller} and cr_buyer = #{cr_buyer}
	</select>

</mapper>