@charset "UTF-8";
<style>
	<style>
	
		*{margin: 0; padding: 0;}
		
		h1{text-align: center; color: #8080ff;}
		
		a{text-decoration: none; float: right; color:#8080ff; }
		a:hover{color: #c0c0c0;}
		
		table{border: #d3d3d3 solid 1px; }
		table, table a{border-collapse:collapse; text-align: center; width: 100%; padding: 5px; }
		
		table th{background-color:#bdbdff; padding: 10px; }
		
		.left table td{text-align: left; padding:5px; }
		
	</style>
</style>

